---
import {getCollection} from 'astro:content';
import Game from '../../components/Game.astro';
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';

const games = await getCollection('games');
const {featured, regular} = Object.groupBy(games, ({data}) =>
	data.isFeatured ? 'featured' : 'regular'
);
---

<Layout
	theme="dark"
	title="Games you should play"
	breadcrumbs={[]}
>
	<h1>Games you should play</h1>

	<Section isWide>
		<h2>The very best</h2>

		<ul class="Games-featured List--raw">
			{
				featured!.map((game) => (
					<li>
						<Game game={game} />
					</li>
				))
			}
		</ul>
	</Section>

	<Section isWide>
		<h2>The very nice</h2>

		<div class="Games-regular List--raw">
			{
				regular!.map((game) => (
					<li>
						<Game game={game} />
					</li>
				))
			}
		</div>
	</Section>
</Layout>

<style>
	.Games-featured {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
		gap: var(--block-spacing) var(--line-padding);
	}

	.Games-regular {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
		gap: var(--block-spacing) var(--line-padding);
	}
</style>
