.astro-code {
	margin-block-end: 1lh;
	border-radius: var(--radius);
	padding: 1em var(--line-indent);
	line-height: var(--line-height-s);
	font-size: var(--font-size-s);
	tab-size: 3ch;
}

.VisuallyHidden {
	display: block !important;
	border: 0 !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.Ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
