:root {
	--font-sans: Noto Sans, -apple-system, BlinkMacSystemFont,
		avenir next, avenir, segoe ui, helvetica neue, helvetica,
		Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--font-serif: Noto Serif, Iowan Old Style, Apple Garamond,
		Baskerville, Times New Roman, Droid Serif, Times,
		Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol;
	--font-mono: Menlo, Consolas, Monaco, Liberation Mono,
		Lucida Console, monospace;

	--font-size-root: calc(18 / 16 * 1em);
	--font-size-s: 0.9em;
	--font-size-m: 1em;
	--line-height-m: 1.6;
	--font-size-l: 1.25em;
	--line-height-l: 1.1;
	--font-size-xl: 1.8em;
	--line-height-xl: 1.1;
	--font-size-xxl: 3.2em;
	--line-height-xxl: 0.9;

	--font-weight-bold: 650;

	--block-spacing: 2rlh;
	--line-length: 70ch;
	--line-length--wide: 150ch;
	--line-padding: 3ch;

	--color-theme: #407955;
	--color-theme-variant: #ff7452;
	--color-negative: #c93f4a;
	--color-surface: color-mix(
		in srgb,
		var(--color-theme-variant),
		white 95%
	);
	--color-on-surface: color-mix(
		in srgb,
		var(--color-theme-variant),
		black 95%
	);
	--color-surface-variant: color-mix(
		in srgb,
		var(--color-theme-variant),
		white 98%
	);
	--color-on-surface-variant: var(--color-on-surface);
	--color-neutral: #8d938f;
	--color-interactive: var(--color-theme);
	--color-on-interactive: var(--color-surface);

	--shadow-strength: 0.2;

	--radius: 0.5rem;
}

@media screen and (min-height: 35rlh) {
	:root {
		--block-spacing: 3rlh;
	}
}

@media screen and (min-width: 100ch) and (min-height: 40rlh) {
	:root {
		--block-spacing: 4rlh;
	}
}

@media screen and (min-width: 150ch) and (min-height: 50rlh) {
	:root {
		--block-spacing: 5rlh;
	}
}

.Theme--dark {
	--color-theme: #83a892;
	--color-surface: color-mix(
		in srgb,
		var(--color-theme-variant),
		black 95%
	);
	--color-on-surface: color-mix(
		in srgb,
		var(--color-theme-variant),
		white 85%
	);
	--color-surface-variant: color-mix(
		in srgb,
		var(--color-theme-variant),
		black 90%
	);
	--shadow-strength: 0.3;
}

* {
	margin: 0;
	padding: 0;
}

html {
	background: var(--color-surface);
	color: var(--color-on-surface);
	line-height: var(--line-height-m);
	font-size: var(--font-size-root);
	font-family: var(--font-sans);
}

h1 {
	margin-block-end: 2rlh;
	text-wrap: balance;
	line-height: var(--line-height-xxl);
	font-size: var(--font-size-xxl);
	font-weight: 150;
	letter-spacing: -0.03ch;
}

.Theme--dark h1 {
	font-weight: 200;
}

h2 {
	margin-block: 2rlh 1.5rlh;
	line-height: var(--line-height-xl);
	font-size: var(--font-size-xl);
	letter-spacing: -0.02ch;
	font-weight: 700;
}

h3 {
	position: relative;
	margin-block: 1rlh;
	padding-inline-start: 2ch;
	line-height: var(--line-height-l);
	font-size: var(--font-size-l);
	font-family: var(--font-serif);
	font-variant: all-small-caps;
	font-weight: 500;
}

h3::before {
	content: '■ ';
	position: absolute;
	left: 0;
	margin-inline-end: 1ch;
	color: var(--color-neutral);
}

h4 {
	font-weight: var(--font-weight-bold);
}

p,
ul,
ol,
blockquote,
iframe {
	margin-block-end: 1em;
}

:is(ul, ol) :is(ul, ol) {
	margin-block-end: 0;
}

ul,
ol {
	padding-inline-start: 2ch;
}

img {
	display: block;
	border-radius: var(--radius);
	max-inline-size: 100%;
	block-size: auto;
}

a {
	color: var(--color-interactive);
	text-underline-offset: 0.1lh;
}

a:is(:hover, :focus) {
	text-decoration-thickness: 2px;
}

button,
.Button {
	display: inline-block;
	border: none;
	border-radius: var(--radius);
	padding: 0.25em 1ch;
	background: var(--color-interactive);
	color: var(--color-on-interactive);
	text-decoration: none;
	font: inherit;
	font-weight: var(--font-weight-bold);
	cursor: pointer;
}

blockquote {
	margin-inline: auto;
	padding-inline: 2ch;
	max-inline-size: calc(var(--line-length) / 3 * 2);
	font-style: italic;
}

blockquote p {
	font-size: var(--font-size-l);
	font-family: var(--font-serif);
	opacity: 0.9;
}

blockquote footer {
	color: var(--color-neutral);
	line-height: var(--line-height-s);
	font-size: var(--font-size-s);
}

input {
	accent-color: var(--color-interactive);
}

label {
	display: block;
}

iframe {
	border-radius: var(--radius);
	inline-size: 100%;
	block-size: 100%;
	aspect-ratio: 16 / 9;
}
