---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Digital garden">
	<h1>Welcome to my garden!</h1>

	<p>
		What is a digital garden to begin with?<br />
		Maybe <a
			href="https://maggieappleton.com/garden-history"
			set:text="a brief history & ethos of the digital garden"
		/> could bring you up to date.<br />
		Basically, this is meant to be a collection of ever-evolving
		thoughts, resources and experiments about anything I do and
		like.
	</p>
</Layout>
