---
import {albumCollection} from '../services/albums';
---

<div class="Grid Grid--40">
	{
		albumCollection.map(({dominantColor}) => (
			<div
				class="Album"
				style={`background: ${dominantColor}`}
			/>
		))
	}
</div>

<style>
	.Album {
		display: block;
		border-radius: 0.25ch;
		aspect-ratio: 1 / 1;
	}
</style>
