<section>
	<h2>Archives</h2>

	<p>
		This website was a regular blog, but I didn't post anything
		on it for quite a long time, and most articles are now
		outdated.<br />
		However, <a
			href="/archives"
			hreflang="fr"
			set:text="I kept those articles as archives (in french)"
		/>, as to avoid breaking links and losing content.
	</p>
</section>
