<article>
	<header>
		<slot name="header" />
		<slot name="icon" />
	</header>

	{
		Astro.slots.has('cover') ? (
			<div class="cover">
				<slot name="cover" />
			</div>
		) : null
	}

	<div class="body">
		<slot name="body" />
	</div>

	{
		Astro.slots.has('footer') ? (
			<footer>
				<slot name="footer" />
			</footer>
		) : null
	}
</article>

<style>
	article {
		margin-block-end: 1em;
	}

	header {
		display: flex;
		gap: 0 1ch;
	}

	header :global(:is(h2, h3, h4)) {
		line-height: var(--line-height-m);
		font-size: var(--font-size-m);
		margin-block: 0;
	}

	.body :global(p) {
		margin-block-end: 0;
	}
</style>
