<article>
	<header>
		<slot name="header" />
		<slot name="icon" />
	</header>

	{
		Astro.slots.has('cover') ? (
			<div class="cover">
				<slot name="cover" />
			</div>
		) : null
	}

	<div class="body">
		<slot name="body" />
	</div>

	{
		Astro.slots.has('footer') ? (
			<footer>
				<slot name="footer" />
			</footer>
		) : null
	}
</article>

<style>
	article {
		margin-bottom: 1em;
		border-bottom: 2px solid var(--color-neutral);
		border-radius: var(--radius);
		padding: 0.5lh 2ch;
		background: var(--color-surface-variant);
	}

	header {
		display: flex;
		gap: 0 1ch;

		:is(h2, h3) {
			line-height: var(--line-height-m);
			font-size: var(--font-size-m);
			margin-block-end: 0;
		}
	}

	.body {
		p {
			margin-block-end: 0;
		}
	}
</style>
