<fglt-drawing-board aria-hidden="true">
	<canvas></canvas>

	<p class="top">▲ energetic</p>
	<p class="right">▸ happy</p>
	<p class="bottom">▼ chill</p>
	<p class="left">◂ sad</p>
</fglt-drawing-board>

<style>
	fglt-drawing-board {
		--energetic: red;
		--energetic: yellow;
		--happy: yellow;
		--happy: green;
		--chill: aqua;
		--sad: indigo;
		display: block;
		position: relative;
		border-radius: var(--radius);
		inline-size: 100%;
		block-size: 100%;
		max-block-size: var(--line-length);
		contain: size;
		overflow: hidden;
		background: linear-gradient(
			to bottom left,
			var(--energetic),
			var(--sad)
		);
	}

	fglt-drawing-board::before {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(
			to bottom left,
			var(--happy),
			var(--chill)
		);
		mask-image: linear-gradient(
			to top left,
			white,
			transparent
		);
	}

	canvas {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	p {
		position: absolute;
		margin: 0;
		color: var(--color-on-surface);
		font-weight: bold;
		font-variant: all-small-caps;
		white-space: nowrap;
		pointer-events: none;
		mix-blend-mode: overlay;
	}

	.top {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.right {
		right: 0;
		top: 50%;
		writing-mode: vertical-rl;
		transform: translateY(-50%);
	}

	.bottom {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.left {
		left: 0;
		top: 50%;
		writing-mode: vertical-rl;
		transform: translateY(-50%);
	}
</style>

<script>
	import {
		type Point,
		distance,
		interpolateSpline,
		isAngleAcute,
		makePath
	} from '../services/2d';

	export class DrawingBoard extends HTMLElement {
		static DrawingDefinition = 20;
		static RenderingDefinition = 2;

		#canvas!: HTMLCanvasElement;
		#ctx!: CanvasRenderingContext2D;
		#canvasRatio = 1;
		#resizeObserver!: ResizeObserver;
		#path: Point[] = [];
		#danglingPathPoint: Point | null = null;
		#points: Point[] = [];
		#pointerId = 0;
		#frameId = 0;
		#isDrawing = false;

		connectedCallback() {
			this.#canvas = this.querySelector('canvas')!;
			this.#ctx = this.#canvas.getContext('2d')!;

			this.#canvas.addEventListener(
				'pointerdown',
				(event) => {
					if (!this.#isDrawing) {
						this.#pointerId = event.pointerId;
						this.startDrawing(
							this.pointFromPointerEvent(event)
						);
					}
				}
			);

			this.#canvas.addEventListener(
				'pointermove',
				(event) => {
					if (
						this.#isDrawing &&
						event.pointerId === this.#pointerId
					) {
						this.draw(this.pointFromPointerEvent(event));
					}
				}
			);

			this.#canvas.addEventListener('pointerup', (event) => {
				if (
					this.#isDrawing &&
					event.pointerId === this.#pointerId
				) {
					this.endDrawing(
						this.pointFromPointerEvent(event)
					);
				}
			});

			this.#canvas.addEventListener('pointerout', (event) => {
				if (
					this.#isDrawing &&
					event.pointerId === this.#pointerId
				) {
					this.endDrawing(
						this.pointFromPointerEvent(event)
					);
				}
			});

			this.#resizeObserver = new ResizeObserver(() => {
				this.updateCanvasDimensions();
			});

			this.#resizeObserver.observe(this);
			this.updateCanvasDimensions();
		}

		setPath(path: Point[]) {
			this.#isDrawing = false;
			this.#path = path;
			this.#danglingPathPoint = null;
			this.#points = [];
			this.#render();
			this.#emitPath();
		}

		setPoints(points: Point[]) {
			this.#points = points;
			this.#render();
		}

		updateCanvasDimensions() {
			this.#withinFrame(() => {
				const {width, height} = this.getBoundingClientRect();
				this.#canvas.width = width;
				this.#canvas.height = height;
				this.#canvasRatio = (width + height) / 2;
				this.#render();
			});
		}

		fromCanvasCoords([x, y]: Point): Point {
			return [
				x / this.#canvas.width,
				1 - y / this.#canvas.height
			];
		}

		toCanvasCoords([x, y]: Point): Point {
			return [
				Math.round(x * this.#canvas.width),
				Math.round(
					this.#canvas.height - y * this.#canvas.height
				)
			];
		}

		pointFromPointerEvent(e: PointerEvent) {
			return this.fromCanvasCoords([e.offsetX, e.offsetY]);
		}

		startDrawing(point: Point) {
			this.#isDrawing = true;
			this.#path = [point];
			this.#danglingPathPoint = null;
			this.#points = [];
			this.#render();
		}

		draw(point: Point) {
			this.#withinFrame(() => {
				if (!this.#path.length) {
					return;
				}

				const previousPoint = this.#path.at(-1)!;

				// Adds a point in case of a sharp turn in
				// between valid points.
				if (
					this.#danglingPathPoint &&
					isAngleAcute(
						previousPoint,
						this.#danglingPathPoint,
						point
					)
				) {
					this.#path.push(point);
					this.#danglingPathPoint = null;
					this.#render();
					return;
				}

				const d = distance(
					this.toCanvasCoords(previousPoint),
					this.toCanvasCoords(point)
				);

				// Moves the dangling point if it is still
				// close to the previous point.
				if (d < DrawingBoard.DrawingDefinition) {
					this.#danglingPathPoint = point;
					this.#render();
					return;
				}

				this.#path.push(point);
				this.#danglingPathPoint = null;
				this.#render();
			});
		}

		endDrawing(point: Point) {
			this.#isDrawing = false;
			this.#withinFrame(() => {
				this.#path = this.#path.concat([point]);
				this.#render();
				this.#emitPath();
			});
		}

		#withinFrame(callback: () => void) {
			cancelAnimationFrame(this.#frameId);
			this.#frameId = requestAnimationFrame(callback);
		}

		#render() {
			this.#ctx.clearRect(
				0,
				0,
				this.#canvas.width,
				this.#canvas.height
			);

			this.#drawPath();
			this.#drawPoints();
		}

		#drawPath() {
			const points = this.#interpolatePath();

			if (!points.length) {
				return;
			}

			const canvasPath = makePath(
				points.map(this.toCanvasCoords.bind(this))
			);

			this.#ctx.strokeStyle = '#0d0604';
			this.#ctx.lineCap = 'round';
			this.#ctx.lineJoin = 'round';
			this.#ctx.lineWidth = 0.05 * this.#canvasRatio;
			this.#ctx.stroke(canvasPath);
		}

		#drawPoints() {
			this.#ctx.fillStyle = '#ffeae5';
			this.#ctx.globalAlpha = 0.6;

			this.#points.forEach((point) => {
				const [x, y] = this.toCanvasCoords(point);

				this.#ctx.beginPath();
				this.#ctx.arc(
					x,
					y,
					0.005 * this.#canvasRatio,
					0,
					2 * Math.PI
				);

				this.#ctx.fill();
			});

			this.#ctx.globalAlpha = 1;
		}

		#interpolatePath() {
			if (!this.#path.length) {
				return [];
			}

			if (this.#path.length === 1) {
				const start = this.#path.at(0)!;
				return [start, this.#danglingPathPoint || start];
			}

			const path = this.#danglingPathPoint
				? this.#path.concat([this.#danglingPathPoint])
				: this.#path;

			return interpolateSpline(path, (length) => {
				const count =
					(length / DrawingBoard.RenderingDefinition) *
					this.#canvasRatio;
				return Math.max(Math.round(count), 1);
			});
		}

		#emitPath() {
			this.dispatchEvent(
				new CustomEvent('drawend', {
					detail: this.#path
				})
			);
		}
	}

	customElements.define('fglt-drawing-board', DrawingBoard);
</script>
