<section>
	<h2>Music</h2>

	<article>
		<h3>Things I've made</h3>

		<p>
			I've been making music for as long as I can remember,
			using keyboards, drums & percussions, guitars & other
			stringed instruments, didgeridoos, DAWs…<br />
			I like to try and produce songs in any genre, from trance
			to metal, jazz, prog rock, dub or ballads, often mixing elements
			from this and that.<br />
			The results aren't the most consistent—and frankly not heard
			my many—but I find joy in the process more than in the final
			product.
		</p>

		<ul>
			<li>
				<a
					href="https://fglt.bandcamp.com/"
					set:text="Quite a lot of songs on Bandcamp"
				/>
			</li>
			<li>
				<a
					href="https://soundcloud.com/xil"
					set:text="Some old songs on SoundCloud"
				/>
			</li>
			<li>
				<a
					href="https://ragatala.bandcamp.com"
					set:text="A few songs with my band Raga & Tala"
				/>
			</li>
		</ul>
	</article>

	<article>
		<h3>Things I listen to</h3>

		<p>
			I'm kind of a compulsive listener, and I try to listen
			to new music most of the time.<br />
			I compiled many hours of listening in the following lists,
			in the hope some people could discover interesting new music.
		</p>

		<ul>
			<li>
				<a href="/albums">My all-time favorite albums</a>
			</li>
			<li>
				<a
					href="https://www.deezer.com/fr/playlist/11519000724"
					set:text="A huuuge playlist with one song per album I liked over the years"
				/>
			</li>
			<li>
				<a
					href="https://www.last.fm/user/fglt"
					set:text="Let's scrobble together on Last.fm!"
				/>
			</li>
		</ul>
	</article>
</section>
