---
import Section from './Section.astro';
import Card from './Card.astro';
---

<Section>
	<h2>Software</h2>

	<p>
		I strive to build lightweight and accessible tools and apps
		with web technologies.<br />
		Here are some highlights—<a
			href="https://github.com/felixgirault"
			set:text="follow me on GitHub"
		/> for more!
	</p>

	<article>
		<h3>Things I've written</h3>

		<ul>
			<li>
				<Card>
					<h4 slot="header">
						<a
							href="/dev/resources"
							set:text="Resources"
						/>
					</h4>

					<p slot="body">
						An awesome list of articles, books, courses,
						tools, design resources & newletters for web
						developers.
					</p>
				</Card>
			</li>

			<li>
				<Card>
					<h4 slot="header">
						<a href="/dev/tips" set:text="Tips & tricks" />
					</h4>

					<p slot="body">
						Quick tips about anything related to web
						development.
					</p>
				</Card>
			</li>

			<li>
				<Card>
					<h4 slot="header">
						<a href="/ideas" set:text="Ideas" />
					</h4>

					<p slot="body">
						Concepts of apps I would like to see exist,
						whoever builds them.
					</p>
				</Card>
			</li>
		</ul>
	</article>

	<article>
		<h3>Things I've made</h3>

		<ul>
			<li>
				<Card>
					<h4 slot="header">Schemist</h4>
					<span slot="icon" aria-hidden="true">🎨</span>

					<p slot="body">
						An app to build cohesive and accessible color
						schemes.
					</p>

					<ul
						slot="footer"
						class="List--raw List--inline List--dotted"
					>
						<li>
							<a
								href="https://schemist.fglt.fr"
								set:text="App"
							/>
						</li>
						<li>
							<a
								href="https://github.com/felixgirault/schemist"
								set:text="Source code"
							/>
						</li>
					</ul>
				</Card>
			</li>

			<li>
				<Card>
					<h4 slot="header">Grapes</h4>
					<span slot="icon" aria-hidden="true">🍇</span>

					<p slot="body">
						A calm and clutter-free theme for VSCode.
					</p>

					<ul
						slot="footer"
						class="List--raw List--inline List--dotted"
					>
						<li>
							<a
								href="https://marketplace.visualstudio.com/items?itemName=fg.grapes-theme"
								set:text="Extension"
							/>
						</li>
						<li>
							<a
								href="https://github.com/felixgirault/grapes-theme"
								set:text="Source code"
							/>
						</li>
					</ul>
				</Card>
			</li>

			<li>
				<Card>
					<h4 slot="header">Moodboard</h4>
					<span slot="icon" aria-hidden="true">🎶</span>

					<p slot="body">
						This presents my music library within a playful
						interface to generate playlists according to
						the mood you're in.
					</p>

					<p slot="footer">
						<a href="/moodboard">
							Draw yourself a playlist!
						</a>
					</p>
				</Card>
			</li>
		</ul>
	</article>

	<article>
		<h3>Things I contributed to</h3>

		<ul>
			<li>
				<Card>
					<h4 slot="header" lang="fr">Assistant RGAA</h4>
					<span slot="icon" aria-hidden="true">♿</span>

					<p slot="body">
						A browser extension helping devs and
						accessibility experts in auditing web pages,
						based on the RGAA.
					</p>

					<ul
						slot="footer"
						class="List--raw List--inline List--dotted"
					>
						<li>
							<a
								href="https://assistant-rgaa.empreintedigitale.fr"
								set:text="Homepage"
							/>
						</li>
						<li>
							<a
								href="https://github.com/empreinte-digitale/assistant-rgaa"
								set:text="Source code"
							/>
						</li>
					</ul>
				</Card>
			</li>
			<li>
				<Card>
					<h4 slot="header">Orejime</h4>
					<span slot="icon" aria-hidden="true">🍪</span>

					<p slot="body">
						An easy to use consent manager that focuses on
						accessibility.
					</p>

					<ul
						slot="footer"
						class="List--raw List--inline List--dotted"
					>
						<li>
							<a
								href="https://orejime.empreintedigitale.fr"
								set:text="Homepage"
							/>
						</li>
						<li>
							<a
								href="https://github.com/empreinte-digitale/orejime"
								set:text="Source code"
							/>
						</li>
					</ul>
				</Card>
			</li>
		</ul>
	</article>
</Section>
