---
interface Props {
	lang?: 'en' | 'fr';
}

const {lang = 'en'} = Astro.props;
---

<html {lang}>
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>fglt</title>
	</head>

	<body>
		<main role="main">
			<slot />
		</main>
	</body>
</html>
